@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

body,
html,
div.board,
div#react-container {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

div.board {
    position: fixed;
    background-color: brown;
    width: 100%;
    background: #eab92d;
    background: -moz-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(57%, #eab92d), color-stop(99%, #c79810));
    background: -webkit-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: -o-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: -ms-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: radial-gradient(ellipse at center, #eab92d 57%, #c79810 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eab92d', endColorstr='#c79810', GradientType=1);
    transition: 0.5s;
}

div.note {
    height: 180px;
    width: 180px;
    background-color: yellow;
    margin: 2px 0;
    position: absolute;
    cursor: -webkit-grab;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    transition: 0.1s;
}

div.note:active {
    cursor: -webkit-grabbing;
}

div.note p {
    font-size: 22px;
    padding: 5px;
    font-family: "Shadows Into Light", Arial;
    font-weight: bold;
    word-wrap: break-word;
}

div.note:hover > span {
    opacity: 1;
}

div.note > span {
    position: absolute;
    bottom: 2px;
    right: 2px;
    opacity: 0;
    transition: opacity .25s linear;
}

div.note button {
    margin: 2px;
    transition: 0.5s;
}

div.note > textarea {
    height: 75%;
    background: rgba(255, 255, 255, .5);
}

.glyphicon-plus {
    position: fixed;
    top: 10px;
    right: 10px;
    transition: 0.5s;
}

.panel-side-bar * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.panel-side-bar {
    position: fixed;
    width: 0px;
    height: 100%;
    top: 0;
    left: 0;
    background: #263238;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
}

.panel-buttons {
    width: 100%;
    list-style-type: none;
}

.panel-buttons li {
    list-style-type: none;
    padding: 50px 2px;
    text-align: center;
}

.panel-buttons li a {
    color: #808080;
}

.user-section {
    width: 100%;
    height: 150px;
    position: relative;
    padding: 20px;
}

.user-section * {
    display: inline-block;
}

.user-name {
    color: white;
    font-family: "Shadows Into Light", Arial;
    font-size: 25px;
    padding: 25px 20px;
}

.user-icon {
    width: 70px;
    height: 70px;
}

.bt-expose {
    transition: 0.5s;
}